.card-info {
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 2px 4px gray;
    border-radius: 3px;

}

.card-info h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.card-info img {
    width: 260px;
    height: 275px;
}

.card-btn {
    padding: 6px 12px;
    margin: 2px;
    border: none;
    border-radius: 3px;
    background-color: blue;
    color: white;
    cursor: pointer;
}