.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.home-part {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cart-body {
    margin-left: 40px;
    /* border: 2px solid red; */
    box-shadow: 3px 3px 14px gray;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    .card-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .home-part {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}